
<div class="page-content__wrapper" id="content">

  <article><h2>There’s no place like home!</h2>
      <p>Home loan will be a perfect solution if you need a loan for a new home, serious renovation or construction.</p>
      <ul class="regular-list">
        <li>Fast application processing</li>
        <li>Opportunity to pay back earlier and manage your contract via Internet Banking</li>
        <li>We constantly offer discounts for home loans, when you receive the discount code from the seller and, please, do not forget to submit it completing the application for the home loan in the Internet Bank.</li>
      </ul>
      <a class="default-link findOutPossibilities -show-small" href="#">Find out your possibilities</a>
      
      <p>The loan must be secured by mortgage of real estate acceptable to the bank. Please note, that by using these financing services, you are assuming financial obligations. Improper fulfilment or non-fulfilment of financial obligations may have a negative impact on your credit history and make borrowing more expensive; you also risk losing ownership rights to the mortgaged real estate.</p>
</article>
  <div class="login-inner">
    <h2 class="login-title" id="login-widget-heading">Find out possibilities</h2>
    <router-outlet></router-outlet>
  </div>

</div>